@import "tailwindcss";

:root {
  --primary: #aa3bff;
}

body {
  margin: 0;
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  background-color: #f9fafb;
}

* {
  box-sizing: border-box;
}

.app-main-with-header {
  padding-top: 76px;
}
